<template>
  <v-dialog max-width="100rem" v-model="showDialog">
    <v-btn fab dark slot="activator" class="mx-5 my-3">
      <v-icon>cloud_download</v-icon>
    </v-btn>

    <v-stepper v-model="currentStep" vertical>
      <v-stepper-step :complete="currentStep > 1" step="1">Paste link</v-stepper-step>
      <v-stepper-content step="1">
        <v-text-field append-icon="insert_link" @input="handleEnteredLink"/>
        <v-btn color="primary" @click="currentStep = 2">Continue</v-btn>
      </v-stepper-content>

      <v-stepper-step :complete="currentStep > 2" step="2">Select options</v-stepper-step>
      <v-stepper-content step="2">
        <v-card>
          <div>{{this.videooptions}}</div>
          <v-btn class="primary" @click="currentStep=3">Continue</v-btn>
          <v-btn flat @click="currentStep=1">Go back</v-btn>
        </v-card>
      </v-stepper-content>

      <v-stepper-step :complete="currentStep > 2" step="3">Download and save</v-stepper-step>
      <v-stepper-content step="3">
        <v-btn @click="
        showDialog=false
        currentStep=1">
          <v-icon>save_alt</v-icon>
        </v-btn>
      </v-stepper-content>
    </v-stepper>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      currentStep: 1,
      showDialog: false,
      videooptions: "todo"
    };
  },
  methods: {
    handleEnteredLink(text) {
      console.log(this.currentStep);
      console.log(text);
      this.currentStep = 2;
    }
  }
};
</script>

