<template>
  <div class="Homepage">
    <h1 class="subheading grey--text">Homepage</h1>

    <v-container class="my-5">this will go in the bottom right corner
      <downloadWizard/>
    </v-container>
  </div>
</template>

<script>
import downloadWizard from "./downloadWizard";
export default {
  components: {
    downloadWizard
  }
};
</script>
